<ion-header>
  <ion-toolbar>
    <ion-title>
      ESP32
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <h1>Luces</h1>
    <ion-list>
      <ion-item *ngFor="let led of leds" (click)="onClick(led)">
        <ion-label>{{led.name}}</ion-label>
        <ion-checkbox
          [(ngModel)]="led.status"
          color="success">
        </ion-checkbox>
      </ion-item>

      <ion-item *ngFor="let item of list" (click)="clickList(item)">
        <ion-label>{{item.key}}</ion-label>
        <ion-checkbox
          [(ngModel)]="item.payload.node_.value_"
          color="success">
        </ion-checkbox>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
